/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../images/background.png') no-repeat center center fixed; /* Imagem de fundo */
    background-size: cover;
    color: #fff;
}

header {
    background: #0A293E;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para o conteúdo */
main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
}

.foto-pessoal {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #00FFFF;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 20px;
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.about-text {
    font-size: 1.2em;
    margin-top: 20px;
    max-width: 600px;
}

/* Estilos para o formulário de contato */
.form-contato {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-contato label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-contato input,
.form-contato textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #0A293E;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-contato button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0A293E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.form-contato button:hover {
    background-color: #0056b3;
}

/* Estilos para o rodapé */
footer {
    background: #0A293E;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main p {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

/* Estilos para imagens circulares na página inicial */
.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.images-container img.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #0A293E;
}
